.about_container {
    padding-inline : 109px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap : 10px;
}

@media screen and (max-width : 1085px) { 
    .about_container {
        padding-inline : 0px;

    }
}