.all-cards_container {
    background-color: #F6F6F6;
    padding:56px 50px 56px 50px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:60px;
    margin-bottom: 50px;
}


.all-cards_container a {
    display: flex;
    flex-basis: 340px;
}


@media screen and (max-width: 1098px) { 
    .all-cards_container {
    justify-content: center;
    background-color: white;
    padding:0px;
    margin:0px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 27px;
    width: 100%;
    }
 }
 @media screen and (max-width: 768px) { 

    .all-cards_container {
        gap:20px;
    }
    .all-cards_container a {
        width: 100%;
    }
 }