.all-cards_container {
    background-color: #F6F6F6;
    padding:26px 20px 26px 20px;
    border-radius: 25px;
    display: grid;
    justify-content: space-evenly;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}


.all-cards_container a {
    display: flex;
    margin:15px;

}



@media screen and (max-width: 1024px) { 
    .all-cards_container {
    justify-content: center;
    background-color: white;
    padding:0px;
    margin:0px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 27px;
    width: 100%;
    }
    .all-cards_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap:60px;
    }
    
    
    .all-cards_container a {
        display: flex;
        flex-basis: 340px;
        margin:0px;

    }
 }
 @media screen and (max-width: 768px) { 

    .all-cards_container {
        gap:20px;
    }
    .all-cards_container a {
        width: 100%;
    }
 }