

@media screen and (max-width : 768px) { 
    .apartment_image {
        height : 255px;
        object-fit: cover;
    }
    .slide_counter {
        display: none;
    }
}

.carrousel_apartments  {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.carrousel_image_container {
    position: relative;
    width: 100%;
    height: 20rem;
}

.carrousel_image_container img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-top: 25px;
    position: absolute;
    object-fit: cover;
}


.button_previous {
    position: absolute;
    width : 5rem;
    background-color: transparent;
    cursor: pointer;
    color:white;
    font-size: 4rem;
    margin-left: 25px;
    margin-top: 50px;
}

.button_next {
    position: absolute;
    right:45px;
    width : 5rem;
    background-color: transparent;
    cursor: pointer;
    color:white;
    font-size: 4rem;
    margin-right: 35px;
    margin-top: 50px;
}
@media screen and (max-width: 1085px) { 
    .button_next {
        right:0px;
    }
  }
.slide_counter {
    color: white;
    position: absolute;
    width:100%;
    text-align: center;
    bottom : 0;
    font-weight: 500;
}

@media screen and (max-width : 485px) { 
    .button_previous, .button_next {
        font-size: 34px;
    }
    .button_next {
        margin-right: 0px;
    }
}