
main {
    margin:0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    margin-inline:100px;
  }

.error {
    color:#FF6060;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 174px;
}

.error_number {
    font-size: 288px;
    font-weight: 700;

}

.error_text {
    font-size: 36px;
    margin-bottom: 160px;
}
.error_back {
    font-size: 18px;
    color:#FF6060;
    height: 200px;
}
a {
    text-decoration: underline red;
}

