body {
  margin:0px;
}

main {
  margin:0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  margin-inline:100px;
}

@media screen and (width <= 1085px) { 
  main {
    margin-inline:40px;
  }
}